* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif, serif;
}

/* Top section */
.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding-left: 18px;
    padding-right: 18px;
}

.top-bar h1{
    flex: 1 1 0;
    font-size: 24px;
    color: #f9faf8;
    padding: 8px 0px;
    width: 100%;
    max-width: 450px;
    height: auto;
}

.text-left {
    width: 100%;
    max-width: 450px;
    height: auto;
}

.image-right img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.top-bar a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.top-bar ul {
    flex: 0 1 auto;
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 12px 0px;
}

.section-1 {
    display: flex;
    justify-content: center;
    gap: 36px;
    margin-bottom: 100px;
}

.top-bar {
    display: flex;
    justify-content: center;
    gap: 128px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

@media (max-width: 650px) {
    .section-1 {
        flex-wrap: wrap;
    }

    .top-bar {
        gap: 0px;
    }
}

.text-left h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.text-left p {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 18px;
}

.text-left button{
    background-color: #3882f6;
    border: 0;    
    border-radius: 8px;    
    color: #e5e7eb;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 26px;
}

.text-left a {
    color: #e5e7eb;
    text-decoration: none;
}

/* Section-2 */
.section-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem 20% ;
}

.section-2 h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

@media (max-width: 850px) {
    .container-2 {
        flex-wrap: wrap;
    }
}

.container-2 .content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 5rem 2rem;
}

.container-2 .text {
    width: 158px;
}

.container-2 img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

/* Section-3 */
.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 10rem 28.5% 10rem 28.5%;
}

.section-3 em {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.section-3 cite {
    align-self: flex-end;
    font-weight: 900;
    font-size: 18px;
    padding-right: 40px;
}

/* Section-4 */
.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 1rem;
}

.container-4 {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4rem 10rem;
    gap: 10rem;
    border-radius: 6px;
    flex: 0 1 auto;
}

.sign-up {
    flex: 1 1 0;
}

.input-2 {
    flex-shrink: 0;
}
.container-4 strong{
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 900;
}

.container-4 p {
    color: #e5e7eb;
    font-size: 18px;
}

.container-4 button {
    font-size: 18px;
    background-color: #3882f6;
    border-color: #e5e7eb;
    border-radius: 8px;    
    color: #f9faf8;
    font-weight: bold;
    border-style: solid;
    padding: 8px 26px;
}

.container-4 a {
    text-decoration: none;
    color: #e5e7eb;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}